#root {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 60px;
  transition: transform 0.1s ease-in;
  min-height: 100vh;
}

.App.open {
  /* transform: translate3d(190px, 0, 0); */
  /* padding-left: 250px */
  margin-left: 190px;
}

.links {
  flex: none !important;
  overflow-x: hidden;
  overflow-y: auto;
  width: 60px;
  -webkit-overflow-scrolling: touch;
}

.links.open {
  width: 250px;
  visibility: visible;
}

.App-header {
  background-color: #222;
  color: white;
}

.App-title {
  margin: 0;
  font-size: 1.5em;
  line-height: 2em;
}

.App-intro {
  font-size: large;
}

.icons {
  /* display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start; */
}

.articles {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  padding: 0 1em;
}

.contained {
  width: 95%;
  max-width: 20em;
  margin: auto;
}

.text-center {
  text-align: center;
}

.text-initial {
  text-align: initial;
}

.content {
  position: relative;
  flex-grow: 1;
}

section {
  margin-bottom: 2em;
}

.full-size {
  position: relative;
  height: 100%;
  width: 100%;
}
.white-text {
  color: #fff !important;
}
.white-fill {
  fill: #fff;
}

.coinbase-button {
  border-radius: 5px;
  padding: 0.7em 1.4em;
  line-height: 1.3;
  background-color: #116fde;
  color: #fff;
  text-decoration: none;
  border: 1px solid #116fde;
  transition: 0.15s ease all;
  text-shadow: none;
  font-weight: 400;
  box-shadow: none;
  font-size: 18px;
  width: auto;
  height: 25px;
  cursor: pointer;
}

.border-left-2 {
  border-left: solid 0.2em;
}

.border-bottom-2 {
  border-bottom: solid 0.2em;
}

a:hover {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .App {
    padding-left: 0;
  }

  .App.open {
    transform: translate3d(250px, 0, 0);
    margin-left: 0;
  }

  .links {
    width: 0;
  }

  .links.open {
    width: 250px;
  }

  .icons.responsive {
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
  }
}

.primary-gradient {
  background: #005c97;
  background: -webkit-linear-gradient(270deg, #005c97, #363795);
  background: linear-gradient(270deg, #005c97, #363795);
}